@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* animação de gradiente horizontal */
  @keyframes gradient-x {

    0%,
    100% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }
  }

  html {
    scroll-behavior: smooth;
  }

  .animate-gradient-x {
    background-size: 200% 200%;
    animation: gradient-x 10s ease infinite;
  }

  /* shimmer foil */
  .shimmer {
    position: relative;
    overflow: hidden;
  }

  .shimmer::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(120deg,
        transparent 30%,
        rgba(255, 255, 255, 0.35),
        transparent 70%);
    transform: translateX(-100%);
    animation: shimmer 4s infinite;
    pointer-events: none;
    z-index: 20;
    /* garante que fique acima do conteúdo interno */
  }

  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }
}